@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');
/* General */
/* Mobile first */
body{
    background-color: white;
    color: black;
    margin: 20px;
    font-family: 'Bebas Neue','Roboto Thin';
    text-align: center;
}

h1{
    font-family: 'Bebas Neue','Roboto Thin';
    font-size: 50px;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 12px;
}
h2{
    font-family: 'Bebas Neue','Roboto Thin';
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 12px;
}


h3{

    text-align: center;
    font-family: 'Bebas Neue','Roboto Thin';
    font-size: 30px;
    font-weight: bold;
    color: black;

}

p{
    font-family: 'Bebas Neue';
    color: black;
    font-size: 16px;
    line-height:130%;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;

}


section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "navigation"
    "main-content"
    "form"
    "footer";
    grid-gap: 20px;

}

main{
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}



.checked{

    color: red;
    padding-bottom: 15px;
}

.form{
    grid-area: form;
    align-items: center;

}

.form p {
    text-align: center;
}

header{
    grid-area: header;
    padding: 10px;

}

nav{
    grid-area: navigation;
    display: flex;
    flex-direction: column; /* Meny för mobil */
    background-color: black;
    margin-top: 30px;

}

nav a{
    color: white;
    flex: 1;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

}

nav a:hover{
    text-decoration: underline;
}


main{
    grid-area: main-content;
    align-items: center;
    padding-right: 0px;
    padding-left: 35px;

}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 30px;

    align-items: center;

}
.card p{

    text-align: center;
}


main img:hover{
    transform: scale(1.01);

}

::-webkit-input-placeholder {
    text-align: center;
}
footer{
    padding-top: 80px;
    grid-area: footer;

}

div.social_list{
    grid-area: footer;
    padding: 10px;
    text-align: left;

}

div.social_list a + a{
    padding-left: 10px;
}

p.copyright{
    padding-left: 0px;
    padding-top: 50px;
    padding-bottom: 0;
    font-size: 11px;
    color: black;

}


table{
    text-align: left;
    font-size: 14px;
    color: black;
    padding-top: 15px;
}

table td:hover{
    text-decoration: underline;
}




/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Ändrar storlek på fonter */
    h1{
        font-size: 30px;
    }

    p{
        font-size: 14px;
    }

    a{
        font-size:  15px;
    }

    h3{
        text-align: left;
    }

    /* Centrerar grid-container och bestämmer 1000px bredd */
    section.grid-container{
        width: 1000px;
        margin: 20px auto;
    }

    header{
        text-align: center;
    }

    /* Ändrar grid columns till 1fr 1fr (2 enheter bredvid varandra) */
    main{
        grid-template-columns: 1fr 1fr;
    }

    ul.social_list{ /* Döljer menyn med länkar till sociala medier */
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    /* Ändrar storlek på fonter */
    h1{
        font-size: 30px;
        text-align: center;
    }

    h2{
        text-align: center;
    }

    p{
        font-size: 14px;
    }

    a{
        font-size: 15px;
    }


    /* Centrerar grid-container och bestämmer 1000px bredd */
    section{

        grid-template-columns: 1fr;

    }

    header{
        text-align: left;
    }


    /* Ändrar grid columns till 1fr 1fr (2 enheter bredvid varandra) */
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav {
        flex-direction: row; /* Ändrar menyn till på en rad */

    }


}