@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');
/* General */

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Merriweather', serif;
    text-align: left;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 12px;
}
h4{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 12px;
}

main{
    grid-area: main-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-gap: 10px

}

image a:hover{
    text-decoration: -moz-default-background-color;
}


textarea{
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    height: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    text-align: unset;

}

input{
    font-family: 'Open Sans', sans-serif;
}

section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 50px;
    grid-template-areas:
    "header"
    "navigation"
    "main-content"
    "footer";
    grid-gap: 20px;
}

footer {
    grid-area: footer;
    text-align: center;
}

nav{
    grid-area: navigation;
    display: inline;
    flex-direction: column;
    text-align: left/* Meny för mobil */


}

nav a{
    flex: 1;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;

}



nav a:hover{
    text-decoration: underline;
}


